* {
    box-sizing: border-box;
    background-color: black;
  }
  
  
  body {
    margin-top: 20px;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color:aqua;
    line-height: 1.5;
  }

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar img{
    max-height: 40px;
}

.jumbotron {
    background-color: black;
    background-image: url(../images/Twees--02.png);
}